<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">
        
          <form role="form">
                <fieldset class="form-group">
                    <label>Nom de l'etablissement</label>
                    <input class="form-control">
                </fieldset>
                 
                 <fieldset class="form-group">
                    <label> Adresse</label>
                    <input class="form-control">
                </fieldset>
                 
                 <fieldset class="form-group">
                    <label> Adresse2</label>
                    <input class="form-control">
                </fieldset>
                
                <fieldset class="form-group">
                    <label> Adresse3</label>
                    <input class="form-control">
                </fieldset>
                
                  <div class="form-group">
                    <label>Type d'etablissement</label>
                    <select class="form-control">
                        
                    </select>
                </div>
                
                  <fieldset class="form-group">
                    <label for="exampleInputFile"> Ajout logo</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>
        
        
        
      <button type="submit" class="btn btn-secondary">Submit Button</button>
        
         </form>
         </div>
</div>
        